#btnHome {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.04);
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-background-image: url("/img/homebutton.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-text-position: right;

}
#btnTI {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.04);
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-background-image: url("/img/car.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-text-position: right;

}

#btnEmployees {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.04);
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-background-image: url("/img/employeesbutton.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-text-position: right;

}
#btnReport {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.04);
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-background-image: url("/img/reportbutton.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-text-position: right;
}

#btnSearch {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: rgba(0, 0, 0, 0.04);
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-background-image: url("/img/searchbutton.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-text-position: right;
}

#btnUser {
        -fx-border-color: transparent;
        -fx-border-width: 0;
        -fx-background-radius: 0;
        -fx-background-color: transparent;
        -fx-text-fill: rgba(0, 0, 0, 0.87);
        -fx-background-image: url("/img/currentuser.png");
        -fx-background-size: 20 20;
        -fx-background-repeat: no-repeat;
        -fx-background-position: left;
        -fx-text-position: right;
}


#Hbar {
    -fx-background-color: rgba(0, 0, 0, 0.08);
}